[Unit]
Description=__APP__ worker for backend git interaction
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/venv/bin/celery -A pagure.lib.tasks worker --loglevel=info
Environment="PAGURE_CONFIG=__INSTALL_DIR__/pagure.cfg"
Restart=on-failure

[Install]
WantedBy=multi-user.target
