[Unit]
Description=__APP__ service sending web-hook notifications
After=redis.target
Documentation=https://pagure.io/pagure

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/venv/bin/celery -A pagure.lib.tasks worker --loglevel=info -c 1 -Q gitolite_queue
Environment="PAGURE_CONFIG=__FINALPATH__/pagure.cfg"
Restart=on-failure

[Install]
WantedBy=multi-user.target
