[Unit]
Description=__APP__ worker for backend git interaction
After=redis.target

[Service]
ExecStart=/usr/bin/celery worker -A pagure.lib.tasks --loglevel=info
Environment="PAGURE_CONFIG=__FINALPATH__/pagure.cfg"
Type=simple
User=__APP__
Group=__APP__
Restart=on-failure

[Install]
WantedBy=multi-user.target